footer.footer
  .row
    .footer__logo 
      a.footer__logo-link
        img(src="../img/header/logo.svg")
  .row
    nav.nav
      ul.footer__menu
        li
          a(href="#") О нас
        li
          a(href="#") скиди
        li
          a(href="#") лучшие туры
        li
          a(href="#") калькулятор цены
        li
          a(href="#") сязаться с нами