section.section-tour
	.text-align-center.margin-bottom-80px
		h2.title-secondary наиболее популярные туры
	.row
		.col-1-of-3
			.card-tour
				.card-tour__side.card-tour__side_front
					.card-tour__img.card-tour__img_1.margin-bottom-50px
					h4.card-tour__title 
						span.card-tour__span.card-tour__span_1 групповые 
						br
						span.card-tour__span.card-tour__span_2 туры
					div.card-tour__descr
						ul
							li Группы от 6 человек
							li Продолжительность 2
							li В группе 1 гид
							li Дальность полета 6км
							li Бесплатные сувениры
				.card-tour__side.card-tour__side_back
					.card-tour__backSide-box
						p.card-tour__text.card-tour__text_1 Полная стоимость
						p.card-tour__text.card-tour__text_2 5990 ₽
						a.header-btn.header-btn-animation(href='#') Забронировать
		.col-1-of-3
			.card-tour
				.card-tour__side.card-tour__side_front
					.card-tour__img.card-tour__img_2.margin-bottom-50px
					h4.card-tour__title 
						span.card-tour__span.card-tour__span_1 частные 
						br
						span.card-tour__span.card-tour__span_2 туры
					div.card-tour__descr
						ul
							li Группы от 6 человек
							li Продолжительность 2
							li В группе 1 гид
							li Дальность полета 6км
							li Бесплатные сувениры
				.card-tour__side.card-tour__side_back
					.card-tour__backSide-box
						p.card-tour__text.card-tour__text_1 Полная стоимость
						p.card-tour__text.card-tour__text_2 5990 ₽
						a.header-btn.header-btn-animation(href='#') Забронировать
		.col-1-of-3
			.card-tour
				.card-tour__side.card-tour__side_front
					.card-tour__img.card-tour__img_3.margin-bottom-50px
					h4.card-tour__title 
						span.card-tour__span.card-tour__span_1 смотровые 
						br
						span.card-tour__span.card-tour__span_2 площадки
					div.card-tour__descr
						ul
							li Группы от 6 человек
							li Продолжительность 2
							li В группе 1 гид
							li Дальность полета 6км
							li Бесплатные сувениры
				.card-tour__side.card-tour__side_back
					.card-tour__backSide-box
						p.card-tour__text.card-tour__text_1 Полная стоимость
						p.card-tour__text.card-tour__text_2 5990 ₽
						a.header-btn.header-btn-animation(href='#') Забронировать
	.text-align-center
		a.header-btn.header-btn-animation(href='#') Забронировать