section.section-feedBack
	.bg-gradient
		video.bg-video(autoplay muted loop)
			source(src="../img/video/1.mp4")
	.text-align-center.margin-bottom-80px
		h2.title-secondary.title-secondary_white Отзывы наших клиентов
	.row
		.feedBack-card
			figure.feedBack-card__img
				img(src="../img/feedback/1.jpg")
				figurecaption.feedBack-card__name антон рябин
			.feedBack-card__box
				h3.title-third.margin-bottom-10px Я получил массу впечатлений
				p.paragraph Задача организации, в особенности же дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации соответствующий условий активизации. Таким образом начало повседневной работы по формированию позиции влечет.
		.feedBack-card
			figure.feedBack-card__img
				img(src="../img/feedback/2.jpg")
				figurecaption.feedBack-card__name лиза фролова
			.feedBack-card__box
				h3.title-third.margin-bottom-10px Я получил массу впечатлений
				p.paragraph Задача организации, в особенности же дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации соответствующий условий активизации. Таким образом начало повседневной работы по формированию позиции влечет.
	.text-align-center
		a.header-btn.header-btn-animation(href='#') Забронировать