.section-about
	div.text-align-center.margin-bottom-80px
		h2.title-secondary невероятное ощущение свободы
	.row
		.col-1-of-2
			h3.title-third.margin-bottom-10px Позвольте себе прилючение
			p.paragraph.magin-bottom-30px Задача организации, в особенности же дальнейшее развитие различных форм деятельности влечет за собой процесс внедрениям и модернизации соответствующий условий активизации. Таким образом начало повседневной работы по формированию позиции влечет.
			h3.title-third.margin-bottom-10px ВВЕРХ НА 6000 МЕТРОВ НАД УРОВНЕМ МОРЯ
			p.paragraph.margin-bottom-50px Задача организации, в особенности же дальнейшее развитие различных форм деятельности влечет за собой процесс внедрениям и модернизации соответствующий условий активизации. Таким образом начало повседневной работы по формированию позиции влечет.
			a.btn-text(href="#") Узнать больше &rarr;
		.col-1-of-2
			.composition
				img.composition__photo.composition__photo_n1(src="../img/header/1.png" alt="")
				img.composition__photo.composition__photo_n2(src="../img/header/2.png" alt="")
				img.composition__photo.composition__photo_n3(src="../img/header/3.png" alt="")