.header-btn {
	display: inline-block;
	&:link, &:visited {
		@include style-link;
		padding: 1.5rem 4rem;
		border-radius: 5rem;
		color: $gray;
		transition: all .8ms;
	}
	&:hover {
		transform: translateY(-4px);
		box-shadow: $shadow;
	}
	&:active {
		transform: translateY(-2px);
	}
	&-animation {
		animation: animationbtn 1.2s ease .4s;
		animation-fill-mode: backwards;
	}
}
