.btn-text {
	&:link, &:visited {
		font-weight: 700;
		font-size: $font-size-paragraph;
		line-height: 1.9rem;
		letter-spacing: 0.2rem;
		color: $brown-light;
		text-decoration: none;
		padding: 1rem;
		border-bottom: 2px $brown-light solid;
		display: inline-block;
		transition: transform 0.8s ease;
	}
	&:hover {
		background-color: $brown-light;
		color: $white;
		box-shadow: $shadow;
		transform: translateY(-1.2rem);
	}
	&:active {
		transform: translateY(0rem);
	}
}