.adventure-card {
	padding: 2.5rem;
	background-color: rgba($white, 0.8);
	border-radius: 0.6rem;
	box-shadow: $shadow;
	text-align: center;
	transition: all 0.8s ease;
	&:hover {
		transform: translateY(-1.5rem) scale(1.2);
	}
	&__icon {
		font-size: 6rem;
		background: linear-gradient(90.05deg, rgba(186, 133, 84, 0.7) 0.03%, rgba($brown-dark, 0.7) 99.94%);
		-webkit-background-clip: text;
		color: transparent;
		display: inline-block;
	}
}