@import "../common/animation";

.header {
	position: relative;
	height: 95vh;
	background: linear-gradient(90.05deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(1, 1, 1, 0.7) 99.94%), url("../img/header/header-bg.jpg") 50% 50% / cover no-repeat;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
	&__logo {
		position: absolute;
		top: 5rem;
		left: 5rem;
		img {
			height: 7rem;
			width: 5.6rem;
		}
	}
	&__box {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		text-align: center;
	}
	&-title {
		margin: 0 0 6.5rem 0;
		&__main {
			animation-name: showmain;
			animation-duration: 8s;
			animation-timing-function: ease;
			display: block;
			text-transform: uppercase;
			font-weight: 800;
			font-size: 5rem;
			line-height: 6rem;
			letter-spacing: 1rem;
			margin-bottom: 1rem;
			backface-visibility: hidden;
		}
		&__secondary {
			animation-name: showsecondary;
			animation-duration: 8s;
			animation-timing-function: ease;
			display: block;
			font-weight: 300;
			font-size: 3.6rem;
			line-height: 3.6rem;
			letter-spacing: 0.5rem;
			backface-visibility: hidden;
		}
	}
	&-btn {
		display: inline-block;
		&:link, &:visited {
			text-transform: uppercase;
			text-decoration: none;
			padding: 1.5rem 4rem;
			background: #fff;
			border-radius: 5rem;
			color: #777;
			transition: all .8ms;
		}
		&:hover {
			transform: translateY(-4px);
			box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.5));
		}
		&:active {
			transform: translateY(-2px);
		}
		&-animation {
			animation: animationbtn 1.2s ease .4s;
			animation-fill-mode: backwards;
		}
	}
}