$brown-light: #BA8554;
$brown-dsark: #A14F03;
$light: #FAFAFA;
$gradient-brown-black: linear-gradient(#BA8554 100%, #000000 100%);
$gray: #777777;
$gradient-brownLight-brownDark: linear-gradient(#C3956A 100%, #A14F03 100%);
$black: #000000;
$white: #ffffff;
$shadow: (0px 4px 4px rgba(0, 0, 0, 0.5));